%h4 Educations and Trainings
#educations
  =f.semantic_fields_for :educations do |education|
    =render "education_sub_step", :f => education
  .links
    =link_to_add_association "add education", f, :educations
