ul.tabs 
  li 
    a {padding:0 10px !important;}

label { float:left; line-height:28px; margin-right:10px; }

#getStarted {
  width:400px;
  margin:200px auto;
  text-align:center;
  line-height: 1.5;
}

form#new_applicant {
  fieldset {
    margin-bottom:15px;
    border-bottom:1px dashed gray;
    legend {
      margin-bottom:5px;
      span {
        font-weight:bold;
        font-size:16px;
        color:#1b7cdc;
      }
    }
    ol{
      li {
        list-style:none;
        width:100%;
        float:left;
        margin-bottom:0px;
        label {
          width:170px;
          abbr {
            color:red;
            margin-left:5px;
          }
        }
        fieldset {
          border:none;
          legend {
            span {
              
            }
          }
          ol {
            li {
              width:auto;
              display:inline;
              float:left;
              margin-right:15px;
              label {
                width:50px;
              }
              select {
                width:75px;
              }
            }
          }
        }
      }
    }
  }
  li.no_bullet {
    input {
      margin-left:30px;
      width:117px;
      text-align:center;
    }
    list-style:none;
  }
}

.no_bullet {list-style:none;}
.longField {width:80%;}
.midSizeTxtArea {height:150px;}
.add_fields, .remove_fields {
  text-transform:uppercase; 
  font-weight:bold; 
  color:#133142;
  &:hover, &:link, &:visited {
    color:#133142;
  }
  &:hover {text-decoration:none;}
}
.averageField {width:50%;}

