=semantic_form_for @applicant, :url => admin_applicants_path do |f|
  =f.inputs "Personal Information" do 
    =f.input :source, :as => :select, :collection => Source.find(:all)
    =f.input :other_source
    =f.input :first_name
    =f.input :middle_name
    =f.input :last_name
    =f.input :street
    =f.input :city
    =f.input :region
    =f.input :zip
    =f.input :sss, :label => "SSS"
    =f.input :philhealth
    =f.input :pagibig, :label => "Pag-ibig"
    =f.input :tin, :label => "TIN"
    

    %h4 Educations and Trainings
    #educations
      =f.semantic_fields_for :educations do |education|
        =render "education_fields", :f => education
      .links
        =link_to_add_association "add education", f, :educations
    
    =f.buttons do
      =f.commit_button "Submit"